* {
  font-family: sans-serif;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.content {
  margin: 6vh 3vw;
  padding: 0;
}

/* Barra de navegación
(hecha con listas) */

.navbar {
  position: sticky;
  text-align: center;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: whitesmoke;
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.navbar ul {
  margin: 1rem 0 1rem 1rem;
  list-style: none;
  padding-left: 1rem;
  display: flex;
}

.navbar li {
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding-right: 2rem;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover,
a:focus {
  color: dodgerblue;
  text-shadow: #1e90ff35 0 0 3px;
  outline: none;
}

.margin-left {
  margin-left: 0.75rem;
}

/* Flex 
(para el buscador y la tabla) */

.contenedor-principal {
  min-width: fit-content;
  width: 75vw;
  height: 65vh;
  display: flex;
}

.contenedor-iz {
  flex: 0 0 auto;
  padding-right: 5rem;
}

.contenedor-de {
  padding-left: 1rem;
  overflow-x: auto;
  overflow-y: auto;
  flex: 1;
}

/* Botones e inputs
(estilos chulos) */

button,
input {
  margin: 0.25rem 0;
  padding: 0.5rem 1rem;
  background-color: whitesmoke;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  width: 7vw;
  min-width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

input[type=text] {
  min-width: fit-content;
  width: 13vw;
}

button + button {
  margin-left: 1rem;
}

.espaciar {
  display: flex;
  justify-content: space-between;
}

button:first-of-type,
input:first-of-type {
  margin-left: 0px;
}

button:hover,
input:hover {
  box-shadow: 0 0 5px 1px #80808035;
}

button:hover,
button:focus,
input[type='submit']:hover,
input[type='submit']:focus,
input[type='reset']:hover,
input[type='reset']:focus {
  cursor: pointer;
  color: dodgerblue;
  border: 1px solid lightblue;
  background-color: honeydew;
  box-shadow: 0 0 3px 1px #1e90ff35;
}

#eliminar:hover,
#eliminar:focus {
  cursor: pointer;
  color: crimson;
  border: 1px solid lightcoral;
  background-color: mistyrose;
  box-shadow: 0 0 3px 1px #dc143c35;
}

#enviar:hover,
#enviar:focus {
  cursor: pointer;
  color: limegreen;
  border: 1px solid palegreen;
  background-color: azure;
  box-shadow: 0 0 3px 1px #32cd3235;
}

button:active,
button:focus,
input:focus {
  box-shadow: 0 0 3px 1px #bdbdbd35;
  outline: none;
}

/* Tabla
(estilos varios que incluyen la thead) */

table {
  min-width: fit-content;
  width: 80%;
  border: 1px solid lightgrey;
  border-collapse: separate;
  border-left: 0;
  border-radius: 0.5rem;
  border-spacing: 0px;
  table-layout: fixed;
  transition: all 0.3s ease-in-out;
}

table:hover {
  box-shadow: 0 0 5px 1px #80808035;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border: inherit;
  border-collapse: separate;
  position: sticky;
  top: 0;
  z-index: 1;
}

tr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  vertical-align: inherit;
  border-color: inherit;
}

th {
  background-color: whitesmoke;
}

th,
td {
  min-width: 250px;
  width: fit-content;
  min-height: 35px;
  height: fit-content;
  padding: 0.5rem 1rem;
  text-align: left;
  vertical-align: top;
  border-left: 1px solid lightgrey;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

td button,
td input {
  margin-top: 0;
  margin-bottom: 0;
}

th:hover,
td:hover {
  background-color: #d3d3d325;
}

td {
  border-top: 1px solid lightgrey;
}

thead:first-child tr:first-child th:first-child,
tbody:first-child tr:first-child td:first-child {
  border-radius: 0.5rem 0 0 0;
}

thead:first-child tr:first-child th:last-child {
  border-radius: 0 0.5rem 0 0;
}

thead:last-child tr:last-child th:first-child,
tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 0.5rem;
}

svg {
  margin-right: 0.5rem;
}
