* {
  font-family: sans-serif;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 2vh 2vw;
}

.navbar {
  margin: auto;
  width: fit-content;
  background-color: whitesmoke;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.navbar ul {
  list-style: none;
  padding: 0 0 0 2vw;
  display: flex;
}

.navbar li {
  padding-right: 2vw;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 10px;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: dodgerblue;
  text-shadow: #1e90ff35 0 0 3px;
}

button,
input {
  margin: 0.25rem 0.5rem;
  padding: 0.5rem 1rem;
  background-color: whitesmoke;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  width: 7vw;
  min-width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

button:hover,
input:hover {
  box-shadow: 0 0 5px 1px #d3d3d335;
}

button:hover,
input[type='submit']:hover,
input[type='reset']:hover {
  cursor: pointer;
  color: dodgerblue;
  border: 1px solid lightblue;
  background-color: honeydew;
  box-shadow: 0 0 3px 1px #1e90ff35;
}

#eliminar:hover {
  cursor: pointer;
  color: crimson;
  border: 1px solid lightcoral;
  background-color: mistyrose;
  box-shadow: 0 0 3px 1px #dc143c35;
}

#enviar:hover {
  cursor: pointer;
  color: limegreen;
  border: 1px solid palegreen;
  background-color: azure;
  box-shadow: 0 0 3px 1px #32cd3235;
}

button:active,
input:focus {
  box-shadow: 0 0 3px 1px #d3d3d335;
  outline: none;
}

table {
  min-width: 250px;
  width: fit-content;
  border: 1px solid lightgrey;
  border-collapse: separate;
  border-left: 0;
  border-radius: 0.5rem;
  border-spacing: 0px;
  table-layout: fixed;
  transition: all 0.3 s ease-in-out;
}

table:hover {
  box-shadow: 0 0  5px 1px #d3d3d335;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: separate;
}

tr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  vertical-align: inherit;
  border-color: inherit;
}

th {
  background-color: whitesmoke;
}

th,
td {
  min-width: 250px;
  width: fit-content;
  min-height: 35px;
  height: fit-content;
  padding: 0.5rem 1rem;
  text-align: left;
  vertical-align: top;
  border-left: 1px solid lightgrey;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

td button,
td input {
  margin-top: 0;
  margin-bottom: 0;
}

th:hover,
td:hover {
  background-color: #d3d3d325;
}

td {
  border-top: 1px solid lightgrey;
}

thead:first-child tr:first-child th:first-child,
tbody:first-child tr:first-child td:first-child {
  border-radius: 0.5rem 0 0 0;
}

thead:first-child tr:first-child th:last-child {
  border-radius: 0 0.5rem 0 0;
}

thead:last-child tr:last-child th:first-child,
tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 0.5rem;
}

svg {
  margin-right: 0.5rem;
}
